body {
    border: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(243, 249, 250);
}

form#formulario {
    background-color: rgba(255, 255, 255, 0.952);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 16px 16px 48px #00000019;
}

div#imgPreview img {
    height: 100px;
    width: 100px;
    padding: 20px;
    object-fit: cover;
}

div#imgEscolher input {
    display: none;
}

div#imgEscolher {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
    width: 130px;
    text-align: center;
}

div#imgEscolher label {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgba(102, 137, 146, 0.938);
    border-radius: 30px;
    padding: 10px;
}

div.form-dados {
    display: inline-block;
    padding: 5px;
    padding-bottom: 30px;
}

div.form-box input {
    border: 0;
    border-radius: 3px;
    border: 1px solid rgba(102, 137, 146, 0.938);
    height: 30px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    padding-left: 15px;
    color: #314458;
    font-family: 'Poppins', sans-serif;
}

div.form-box input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

div.form-box label,
div.form-box input {
    display: block;
}

div.form-box label {
    font-size: 18px;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    color: #464953;
    font-weight: 400;
}

div.form-box input#nome {
    width: 500px;
    margin-right: 40px;
}

div.form-box input#idade {
    margin-right: 80px;
}

div.form-box div#select-genero {
    margin-left: 40px;
}

div.form-box select#doacao {
    width: 215px;
    margin-right: 70px;
}

div.form-box select#tempo-doacao {
    width: 240px;
    margin-right: 20px;
}

div.form-box select {
    border: 0;
    border-radius: 3px;
    border: 1px solid rgba(102, 137, 146, 0.938);
    height: 30px;
    font-size: 16px;
    color: #314458;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    width: 150px;
    outline: none;
}

div.form-box textarea#textarea-doenca {
    border: 0;
    border-radius: 3px;
    border: 1px solid rgba(102, 137, 146, 0.938);
    height: 50px;
    width: 270px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    padding-left: 15px;
    color: #314458;
    font-family: 'Poppins', sans-serif;
}

div.form-box label#contatos {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}

div.form-box input#email {
    width: 400px;
    margin-right: 60px;
}

div.form-box input#endereco {
    width: 400px;
    margin-right: 10px;
}

div.form-box input#numero {
    width: 50px;
    margin-right: 10px;
}

div.form-box input#cep {
    width: 120px;
}

input[type='submit'] {
    border: 0;
    border-radius: 12px;
    background: rgba(45, 45, 202, 0.925);
    color: white;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    transition: 0.25s;
    outline: none;
}

input[type='submit']:hover {
    background: blue;
}