<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #9de0aa;
}

form.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

form.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

form.box input#user,
form.box input#password {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

form.box input#user:focus,
form.box input#password:focus {
    width: 280px;
    border-color: #2ecc71;
}

form.box input[type='submit'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

form.box input[type='submit']:hover {
    background: #2ecc71;
=======
body {
    border: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(243, 249, 250);
}

form#formulario {
    background-color: rgba(255, 255, 255, 0.952);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 16px 16px 48px #00000019;
}

div#imgPreview img {
    height: 100px;
    width: 100px;
    padding: 20px;
    object-fit: cover;
}

div#imgEscolher input {
    display: none;
}

div#imgEscolher {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 10px;
    width: 130px;
    text-align: center;
}

div#imgEscolher label {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgba(102, 137, 146, 0.938);
    border-radius: 30px;
    padding: 10px;
}

div.form-dados {
    display: inline-block;
    padding: 5px;
    padding-bottom: 30px;
}

div.form-box input {
    border: 0;
    border-radius: 3px;
    border: 1px solid rgba(102, 137, 146, 0.938);
    height: 30px;
    color: black;
    font-size: 16px;
    outline: none;
}

div.form-box label,
div.form-box input {
    display: block;
}

div.form-box label {
    font-size: 20px;
    padding-bottom: 5px;
}

div.form-box input#nome {
    width: 400px;
    margin-right: 35px;
}

div.form-box input#endereco {
    width: 650px;
}

input[type='submit'] {
    border: 0;
    border-radius: 12px;
    background: rgba(45, 45, 202, 0.925);
    color: white;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    transition: 0.25s;
}

input[type='submit']:hover {
    background: blue;
>>>>>>> 1093d3e76f27b6855a77b0b937531223cc02c5b3
}